<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"
	id="http://yourdomain/Basic55555" version="1.0.0" viewmodes="maximized">
	<access origin="*" subdomains="true"></access>
	<tizen:application id="Ks7Rjm7BN6.Basic55555"
		package="Ks7Rjm7BN6" required_version="2.4" />
	<content src="index.html" />
	<feature name="http://tizen.org/feature/screen.size.all" />
	<icon src="icon.png" />
	<name>Basic55555</name>
	<tizen:privilege name="http://tizen.org/privilege/internet" />
	<tizen:profile name="mobile" />
</widget>
